<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if employee_signed_in? %>
  <%= link_to t('employees.sign_out'), destroy_employee_session_path, method: 'delete' %>
<% end %>

<%= yield %>

</body>
</html>
