<div class='suffrage'>
  <%- if elector_signed_in? and current_elector.can_vote?(votable) %>

    <%# Upvote %>

    <%- if current_elector.can_vote_for?(votable) %>
      <%= link_to t('.upvote'), upvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
        method: 'post', class: 'upvote' %>
    <% else %>
      <%= link_to t('.upvote'), upvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
        method: 'post', class: 'upvote', disabled: true %>
    <% end %>

    <%# Current Votable Rating %>
    <%= link_to votable.current_rating, votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
      method: 'delete', class: 'cancel-vote' %>

    <%# Downvote %>

    <%- if current_elector.can_vote_against?(votable) %>
      <%= link_to t('.downvote'), downvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
        method: 'post', class: 'downvote' %>
    <% else %>
      <%= link_to t('.downvote'), downvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
        method: 'post', class: 'downvote', disabled: true %>
    <% end %>

    <%- if current_elector.owns_suffrage?(@question) and votable.is_a?(Jqame::Answer) %>
      <%- if votable.accepted? %>
        <%= link_to t('.unaccept'), unaccept_answer_path(votable), method: 'post', class: 'unaccept-answer' %>
      <%- else %>
        <%= link_to t('.accept'), accept_answer_path(votable), method: 'post', class: 'accept-answer' %>
      <%- end %>
    <% end %>

  <%- else %>
    <%# Current Votable Rating %>
    <%= votable.current_rating %>
  <% end %>
</div>
