<div class='suffrage'>
  <%# Upvote %>

  <div class='upvote'>
    <%= link_to upvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
      method: 'post', remote: true, class: 'upvote',
      data: { votable: (elector_signed_in? and current_elector.can_vote?(votable)) } do %>
      <i class='icon-chevron-up'></i>
    <% end %>
  </div>

  <%# Current Votable Rating %>
  <div class='current-rating'>
    <%- if elector_signed_in? and current_elector.can_vote?(votable) %>
      <%= link_to votable.current_rating, votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
                            method: 'delete', remote: true, class: 'cancel-vote' %>
    <% else %>
      <%= votable.current_rating %>
    <% end %>
  </div>

  <%# Downvote %>
  <div class='downvote'>
    <%= link_to downvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
      method: 'post', remote: true, class: 'downvote',
      data: { votable: (elector_signed_in? and current_elector.can_vote?(votable)) } do %>
      <i class='icon-chevron-down'></i>
    <% end %>
  </div>

  <hr />

  <%= render 'jqame/favorited_questions/toggler' if votable.is_a?(Jqame::Question) %>
</div>
