<div class='suffrage' data-votable-type='<%= votable.class.votable_type %>' data-votable-owner-id='<%= votable.elector_id %>'>
  <%# Upvote %>

  <div class='upvote'>
    <%= link_to upvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
      method: 'post', remote: true, class: 'upvote', title: t('.upvote'),
      data: { allowed: current_elector.can_vote_for?(votable) } do %>
      <i class='icon-chevron-up <%= current_elector.voted_for?(votable) ? "active" : "" %>'></i>
    <% end %>
  </div>

  <hr class='horizontal-separator' />

  <%# Current Votable Rating %>
  <div class='stats'>
    <%= link_to votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
      method: 'delete', remote: true, class: "cancel-vote #{current_elector.voted?(votable) ? '' : 'hidden'}",
      title: t('.cancel_vote'), data: { allowed: true } do %>
      <i class='icon-remove'></i>
    <% end %>

    <span class='current-rating-value'> <%= votable.current_rating %> </span>
  </div>

  <hr class='horizontal-separator' />

  <%# Downvote %>
  <div class='downvote'>
    <%= link_to downvote_votables_path(votable_id: votable.id, votable_type: votable.class.votable_type),
      method: 'post', remote: true, class: 'downvote', title: t('.downvote'),
      data: { allowed: current_elector.can_vote_against?(votable) } do %>
      <i class='icon-chevron-down <%= current_elector.voted_against?(votable) ? "active" : "" %>'></i>
    <% end %>
  </div>

  <hr />

  <%- if votable.is_a?(Jqame::Question) %>
    <%= render 'jqame/favorited_questions/toggler' %>
  <%- elsif votable.is_a?(Jqame::Answer) and current_elector.owns_suffrage?(@question) %>

    <div class='answer-accept'>
      <%- if votable.accepted? %>
        <%= link_to jqame.unaccept_answer_path(votable), method: 'post', remote: true, class: 'unaccept-answer' do %>
          <i class='icon-ok-sign'></i>
        <% end %>
      <% else %>
        <%= link_to jqame.accept_answer_path(votable), method: 'post', remote: true, class: 'accept-answer' do %>
          <i class='icon-ok-sign'></i>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
