<div id='comment-form-container'>
  <%= simple_form_for [ jqame, Jqame::Comment.new ], html: { id: 'new-comment', class: 'form form-inline' } do |form| %>
    <%= form.input :body %>

    <%= form.input :votable_id, :as => :hidden %>
    <%= form.input :votable_type, :as => :hidden %>
    <%= form.submit t('.submit'), disable_with: t('jqame.common.please_wait') %>
  <% end %>
</div>
