<!DOCTYPE html>
<html>
  <head>
    <title>Jqame</title>
    <meta name="robots" content="noindex">
    <%= stylesheet_link_tag    "jqame/application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body id='jqame-<%= controller_name.dasherize %>' data-action='<%= action_name %>'>
    <%= render 'header' %>

    <div class='container' id='main-content'>
      <%= yield %>
    </div>

    <%= render 'footer' %>
    <%= javascript_include_tag "jqame/application" %>
  </body>
</html>
