<!DOCTYPE html>
<html>
  <head>
    <title>Jqame</title>
    <meta name="robots" content="noindex">
    <%= stylesheet_link_tag    "jqame/application", :media => "all" %>
    <%= javascript_include_tag "jqame/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id='jqame-<%= controller_name %>' data-action='<%= action_name %>'>
    <div class='container'>
      <div class='row'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
