<div class='answer <%= answer.accepted ? "accepted" : "" %>' data-votable-id='<%= answer.id %>'>
  <%= render 'suffrage', votable: answer %>

  <div class='contents'>
    <div class='body'> <%= mdown answer.body %> </div>
  </div>

  <%- if elector_signed_in? and current_elector.owns_suffrage?(answer) %>
    <ul class='options'>
      <li> <i class='icon-pencil'></i>
      <%= link_to t('.edit'), jqame.edit_answer_path(answer) %>
      </li>

      <li> <i class='icon-trash'></i>
      <%= link_to t('.destroy'), jqame.answer_path(answer), method: 'delete', data: { confirm: t('jqame.common.are_you_sure?') } %>
      </li>
    </ul>
  <% end %>

  <div class='elector' data-elector-id='<%= answer.elector_id %>'>
    <div class='elector-email'>
      <%= answer.elector.email %>
    </div>

    <div class='elector-reputation'>
      <%= answer.elector.reputation %>
    </div>
  </div>

  <div id='comments'> <%= render @question.comments %> </div>

  <div class='comment-form-placeholder'>
  </div>

</div>

<hr />
