<div id='edit-answer-form-container' class='form-container'>
  <legend> <%= t '.header' %> </legend>

  <%= simple_form_for @answer, html: { id: 'edit-answer', class: 'form form-horizontal' } do |form| %>

    <div id='answer-buttons'></div>
    <%= form.input :body, input_html: { class: 'span8', rows: 10 } %>

    <h3> <%= t '.preview' %> </h3>
    <div id='answer-preview'> </div>

    <%= form.submit t('jqame.common.submit'), disable_with: t('jqame.common.please_wait') %>
  <% end %>
</div>
