<div id='question-form-container' class='form-container'>
  <%= simple_form_for @question, html: { id: 'new-question', class: 'form form-horizontal' } do |form| %>
    <%= error_messages_for @question %>

  <%= form.input :title %>

  <div id='question-buttons'></div>
  <%= form.input :body, input_html: { class: 'span8', rows: 10 }  %>

  <h3> <%= t '.preview' %> </h3>
  <div id='question-preview'> </div>

  <%= form.submit t('.submit'), disable_with: t('jqame.common.please_wait') %>
  <% end %>
</div>
