<div id='question'>
  <div class='title'>
    <%= @question.title %>
  </div>

  <div class='body'>
    <%= @question.body %>
  </div>

  <%- if elector_signed_in? and current_elector.owns_suffrage?(@question) %>
    <div class='options'>
      <%= link_to t('.destroy'), jqame.question_path(@question), method: 'delete', data: { confirm: t('common.are_you_sure?') } %>
      <%= link_to t('.edit'), jqame.edit_question_path(@question) %>
    </div>
  <% end %>

  <div id='comments'>
    <%= render partial: 'jqame/comments/comment', collection: @question.comments %>
  </div>
</div>

<%- if elector_signed_in? %>
  <div id='post-answer'> <%= render 'jqame/answers/form_create' %> </div>
<% end %>

<div id='answers'>
  <%= render @question.answers %>
</div>

<%= render 'jqame/comments/form' %>
