<div class='question' data-votable-id='<%= @question.id %>'>

  <%= render 'suffrage', votable: @question %>

  <div class='contents'>
    <div class='title'>
      <h4> <%= link_to @question.title, jqame.question_path(@question) %> </h4>
    </div>

    <div class='body'>
      <%= @question.body %>
    </div>
  </div>

  <%- if elector_signed_in? and current_elector.owns_suffrage?(@question) %>
    <ul class='options'>
      <li> <i class='icon-pencil'></i>
      <%= link_to t('.edit'), jqame.edit_question_path(@question) %>
      </li>

      <li> <i class='icon-trash'></i>
      <%= link_to t('.destroy'), jqame.question_path(@question), method: 'delete', data: { confirm: t('jqame.common.are_you_sure?') } %>
      </li>
    </ul>
  <% end %>

  <div class='elector' data-elector='<%= @question.elector.email %>'>
    <div class='elector-email'>
      <%= @question.elector.email %>
    </div>

    <div class='elector-reputation'>
      <%= @question.elector.reputation %>
    </div>
  </div>

  <div id='comments'> <%= render @question.comments %> </div>

  <div class='comment-form-placeholder'>
  </div>

</div>

<div id='answers'>
  <legend> <%= t '.answers' %> </legend>
  <%= render @question.answers %>
</div>

<%- if elector_signed_in? %>
  <div id='post-answer'> <%= render 'jqame/answers/form_create' %> </div>
  <div id='post-comment'> <%= render 'jqame/comments/form' %> </div>
<% end %>

