<div id='question'>
  <div class='title'>
    <h4> <%= link_to @question.title, jqame.question_path(@question) %> </h4>
  </div>

  <div class='body well'>
    <%= @question.body %>
  </div>

  <%- if elector_signed_in? and current_elector.owns_suffrage?(@question) %>
    <div class='options'>
      <%= link_to t('.destroy'), jqame.question_path(@question), method: 'delete', data: { confirm: t('jqame.common.are_you_sure?') } %>
      <%= link_to t('.edit'), jqame.edit_question_path(@question) %>
    </div>
  <% end %>

  <div id='comments'>
    <%= render partial: 'jqame/comments/comment', collection: @question.comments %>
  </div>

  <%= render 'suffrage', votable: @question %>
</div>

<div id='answers'>
  <legend> <%= t '.answers' %> </legend>
  <%= render @question.answers %>
</div>

<%- if elector_signed_in? %>
  <div id='post-answer'> <%= render 'jqame/answers/form_create' %> </div>
  <div id='post-comment'> <%= render 'jqame/comments/form' %> </div>
<% end %>

